body{background-color:lightgrey}
h1	{color:blue}
p	{
	<!-- color:green; -->
	text-align:center;
	border:1px solid grey;
	padding:10px;
	margin:30px;
}

#p1, .cities {
    background-color:black;
    color:white;
    margin:20px;
    padding:20px;
} 

a:visited {
	color: red;
}

a:hover {
	color: white;
	
a:active {
	color: green;
}